/*
  01. Typography 
  - Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - Font weights
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

  02. Colors
  #ef6533

  03. Shadows
  0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  04. Border radius

  05. Whitespace (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
**/

:root {
  --primary-color: #ef6533;

  --bg-primary: #ef6533;
  --text-black-primary: #333;
  --text-white-primary: #f5f5f5;

  --box-shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: var(--text-black-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-accent {
  color: var(--primary-color);
}

.mr-2 {
  margin-right: 4px;
}

.ml-2 {
  margin-left: 4px;
}

a:hover {
  text-decoration: underline;
  color: var(--text-black-primary);
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}
